#{extends 'FitnessBlogFrame.html' /}
#{set title:'FitnessBlog' /}
#{set 'moreScripts'}

#{/set}


<!--<div class="ui-widget-content ui-corner-all" id="fitnessBlogContainer">



</div>-->
<div style="text-align:center">
    <h1>Motivational Quotes</h1>
    <p style="font-size:14px;">Please select a motivational quote for your blog.</p>
</div>
<div id="gallery" class="ad-gallery ui-corner-all">
    <div class="ad-image-wrapper">
    </div>
    <div class="ad-controls">
    </div>
    <div class="ad-nav">
        <div class="ad-thumbs">
            <ul class="ad-thumb-list">
                #{list items:quotes, as:'quote'}
                <li>
                    <a href="${quote.path}">
                        <img src="${quote.path}" index="${quote_index}" class="image${quote_index} resize" quoteid="${quote.id}" id="${quote.id}">
                    </a>
                </li>
                #{/list}
            </ul>
        </div>
    </div>
</div>

<div id="blog_comments">
    #{blog_comments blogs:blogs, user:user, type:2,quote:quoteSelected /}
</div>
#{blog_comment_button_quote user:user, type:2 /}

</div>

<script type="text/javascript">
    sum = $("#${quoteSelected.id}").attr("index")-1;
    window.location.hash = "ad-image-"+sum;

    $(document).ready(function(){

        $('.resize').click(function(){
            id = $(this).attr("quoteid");
            //waitingDialog({});
            var listAction = #{jsAction @FitnessBlogs.blog_comments_quotes(':type',':quoteid') /}
            $('#blog_comments').load(listAction({type: 2,quoteid:id}),function(){

                //closeWaitingDialog();
            });
        });
    });
    $(function() {
        var galleries = $('.ad-gallery').adGallery();
        $(".ad-gallery").on("click", ".ad-image", function() {
              $.fancybox.open({
                href : $(this).find("img").attr("src"),
                closeBtn: false,
                closeClick : true,
                openEffect : 'elastic',
                openSpeed  : 150,
                closeEffect : 'elastic',
                closeSpeed  : 150,
                helpers : {
                  overlay : true
                }
              });
        });
    });
</script>