<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Globa Fitness Club</title>
</head>

<body>
    <p>
        Hello ${user.firstName}, Your new password is: <b>${newPassword}</b>
    </p>
    <p>
    	<a href="http://www.globafitness.com@{Application.login_page}">Login here</a>
    </p>
</body>
</html>
