<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Globa Fitness Club</title>
</head>

<body>
<p>Welcome <b>${user.firstName}</b>, 
<br /><br />
At Globa Fitness you can start by looking for trainers or join a network of people who are working out together.<br /><br />

Upload your pictures for progress, or rate your favorite trainers.<br /><br />

Start working on your <a href="http://www.globafitness.com@{Application.profile}">profile now!</a>

</p>
</body>
</html>
