#{extends 'main.html' /}
#{set title:'Settings' /}
#{set 'moreScripts'}

#{/set}
#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/trainer.css'}" />
#{/set}
    <h2 style="margin-bottom:27px; margin-left:0px; padding-left:20px;">Settings</h2>
    <div class="profile_banner">
        <div class="profile_banner_col1">
            <div class="left_pad">
                <h1>Complete your Profile to maximize your trainer search</h1>
                <p>A professional profile is vital to finding a trainer to match your needs.  Once you have completed your profile, it will be much easier to match a trainer to your specific needs .</p>
            </div>
        </div>
        <div class="profile_banner_col2">
            <p class="pad_five">Complete your Profile to maximize your trainer finding opportunities</p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="sidebar">
        <h3>Account</h3>
        <ul class="sb_menu">
            <li><a href="@{Application.editProfile()}">Profile</a></li>
            <li><a href="#">Change Password</a></li>
            <li><a href="#">Email Settings</a></li>
            <li class="last"><a href="@{Application.delete}">Delete Account</a></li>
        </ul>
        <h3>Privacy</h3>
        <ul class="sb_menu">
            <li><a href="#">Privacy Settings</a></li>
            <li><a href="#">See current friends</a></li>
            <li><a href="#">Manage friends</a></li>
            <li class="last"><a href="#">Create Network</a></li>
        </ul>
    </div>

    <div class="content">
        <div id="contact_paragraph">
            #{if flash.error}
                <p class="fError">
                    <strong>${flash.error}</strong>
                </p>
            #{/if}
            #{if flash.success}
                <p class="fSuccess">
                    <strong>${flash.success}</strong>
                </p>
            #{/if}
            #{else}
            <p style="width: 300px">&nbsp;Change your password here</p>
            <div id="joinLeft">
            #{form @saveSettings()}
                <ol>
                    #{field 'userPassword'}
                    <li style="width:400px">
                        <label>Current Password</label>
                        <input class="pass" type="password" name="${field.name}" size="16" value="${userPassword}">
                        <span class="error">${field.error}</span>
                    </li>
                    #{/field}
                    #{field 'newPassword'}
                    <li style="width:400px">
                        <label>New Password</label>
                        <input class="pass" type="password" name="${field.name}" size="16" value="${newPassword}">
                        <span class="error">${field.error}</span>
                    </li>
                    #{/field}
                    <li style="padding-top:10px;">
                        <input type="submit" value="Save" class="submit2">
                    </li>
                </ol>
            </div>
           #{/form}
           #{/else}
        </div>
    </div>
</div>
