#{extends 'main2.html' /}
#{set title:'Settings' /}
#{set 'moreScripts'}

#{/set}
#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/trainer.css'}" />
#{/set}
    <h1>Change Password</h1>
        <p>
            #{if flash.error}
                <p class="fError">
                    <strong>${flash.error}</strong>
                </p>
            #{/if}
            #{if flash.success}
                <p class="fSuccess">
                    <strong>${flash.success}</strong>
                </p>
            #{/if}
            #{else}
            <div id="joinLeft">
            #{form @saveSettings()}
                <ol>
                    #{field 'userPassword'}
                    <li style="width:400px">
                        <label>Current Password</label>
                        <input class="pass" type="password" name="${field.name}" size="16" value="${userPassword}">
                        <span class="error">${field.error}</span>
                    </li>
                    #{/field}
                    #{field 'newPassword'}
                    <li style="width:400px">
                        <label>New Password</label>
                        <input class="pass" type="password" name="${field.name}" size="16" value="${newPassword}">
                        <span class="error">${field.error}</span>
                    </li>
                    #{/field}
                    <li style="padding-top:10px;">
                        <input type="submit" value="Save" class="submit2">
                    </li>
                </ol>
            </div>
           #{/form}
           #{/else}
        </p>
</div>
