#{extends 'main2.html' /}
#{set title:'Settings' /}

#{set 'moreStyles'}

#{/set}
<h1>General Settings</h1>
<div>
    <div class="settings_inside">
        <img id="profile_pic" src="${user.getProfilePic()}" alt="Can't find user profile pic" />
        <div class="addProfilePicture">
            #{if flash.error}
            <p class="fError">
                <strong>${flash.error}</strong>
            </p>
            #{/if}
            #{if flash.success}
            <p class="fSuccess">
                <strong>${flash.success}</strong>
            </p>
            #{/if}

            #{ifErrors}
            <p class="error">
                ${errors[0]}
            </p>
            #{/ifErrors}
            #{form @Photos.uploadProfilePhoto(), enctype:'multipart/form-data'}
            <ol>
                <li>
                    <label for="name">Upload Photo:</label>
                    <input type="file" name="photo" id="photo" />
                </li>
                <li style="margin-top:10px;">
                    <input  id="upload" type="submit" name="submit" value="Upload" class="submit2">
                </li>
            </ol>
        </div>
        #{/form}
    </div>
    <div class="clear"></div>
        <div class="globaSettingsDiv">
            <ul class="uiList">
                <li><a href="@{Settings.editProfile()}"><span class="uiSpanSubject">Name:</span><span class="uiSpanEdit">Edit</span><span class="uiSpanName">${user.fullName()}&nbsp</span></a></li>
                <li><a href="@{Settings.editProfile()}"><span class="uiSpanSubject">Location:</span><span class="uiSpanEdit">Edit</span><span class="uiSpanName">${user.city} ${user.state}&nbsp</span></a></li>
                <li><a href="@{Settings.editProfile()}"><span class="uiSpanSubject">Phone Number:</span><span class="uiSpanEdit">Edit</span><span class="uiSpanName">${user.phoneNumber}&nbsp</span></a></li>
                <li><a href="@{Settings.editProfile()}"><span class="uiSpanSubject">Email:</span><span class="uiSpanEdit">Edit</span><span class="uiSpanName">${user.email}&nbsp</span></a></li>
                <li><a href="@{Settings.editProfile()}"><span class="uiSpanSubject">Relationship:</span><span class="uiSpanEdit">Edit</span><span class="uiSpanName">${user?.relationship}&nbsp</span></a></li>
                <li><a href="@{Settings.editProfile()}"><span class="uiSpanSubject">Fitness Goals:</span><span class="uiSpanEdit">Edit</span><span class="uiSpanName">#{list items:fitnessGoals, as:'goal'}${goal.name}${goal_isLast ? '' : ',' }#{/list}&nbsp</span></a></li>
                <li><a href="@{Settings.editProfile()}"><span class="uiSpanSubject">Relationship:</span><span class="uiSpanEdit">Edit</span><span class="uiSpanName">${user.bio}&nbsp</span></a></li>
            </ul>
        </div>
    </div>

    </div>
    <div class="clear"></div>

<div class="clear"></div>
