#{extends 'main2.html' /}
#{set title:'Settings' /}

#{set 'moreStyles'}

#{/set}
<h1>General Settings</h1>
<div>
    <div class="settings_inside">
        <img id="profile_pic" src="${user.getProfilePic()}" alt="Can't find user profile pic" /> <!--width="275" height="275"-->
        <div class="addProfilePicture">
            #{if flash.error}
            <p class="fError">
                <strong>${flash.error}</strong>
            </p>
            #{/if}
            #{if flash.success}
            <p class="fSuccess">
                <strong>${flash.success}</strong>
            </p>
            #{/if}

            #{ifErrors}
            <p class="error">
                ${errors[0]}
            </p>
            #{/ifErrors}
            #{form @Photos.uploadProfilePhoto(), enctype:'multipart/form-data'}
            <ol>
                <li>
                    <label for="name">Upload Photo:</label>
                    <input type="file" name="photo" id="photo" />
                </li>
                <li style="margin-top:10px;">
                    <input  id="upload" type="submit" name="submit" value="Upload" class="submit2">
                </li>
            </ol>
        </div>
        #{/form}
    </div>
    <div class="clear"></div>
        <div class="globaSettingsDiv">
            <ul class="uiList">
                <li>Name: ${user.fullName()}</li>
                <li>Location: ${user.city} ${user.state}</li>
                <li>Phone Number: ${user.phoneNumber}</li>
                <li>Email: ${user.email}</li>
                <li>${user?.relationship}</li>
            </ul>
        </div>
    </div>
        <!--
        ${user.fullName()} &nbsp;</h1>  <a style="font-size:12px; display:inline-block;" class="submit2" href="@{Settings.editProfile()}">Edit</a>
        <table class="profile_table">
        <tr>
            <td colspan="2" style="padding-top:0px">
                <h1 style="	font-size: 25px; display:inline-block;">${user.fullName()} &nbsp;</h1>  <a style="font-size:12px; display:inline-block;" class="submit2" href="@{Settings.editProfile()}">Edit</a>
            </td>
        </tr>
        <tr>
            <td>Location:</td>
            <td>#{if user.city}${user.city}#{/if}
                #{else}<span class="error">(Edit city)</span><a style="font-size:12px" class="submit" href="@{Settings.editProfile()}">[Edit]</a> #{/else}
                #{if user.state}, ${user.state}#{/if}#{else}<span class="error">(Edit state)</span> <a style="font-size:12px" class="submit" href="@{Settings.editProfile()}">[Edit]</a> #{/else}
                </td>
        </tr>
        <tr>
            <td class="phone">Phone Number:</td>
            <td>#{if user.phoneNumber}${user.phoneNumber}#{/if} #{else}<span class="error">(Edit phone number)</span> <a style="font-size:12px" class="submit" href="@{Settings.editProfile()}">[Edit]</a> #{/else}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>#{if user.email}${user.email}#{/if} #{else}<span class="error">(Edit email)</span><a style="font-size:12px" class="submit" href="@{Settings.editProfile()}">[Edit]</a>#{/else}</td>
        </tr>
        <tr>
            <td>Relationship status:</td>
            <td>${user?.relationship}</td>
        </tr>
        <tr>
            <td>Fitness Goals:</td>
            <td>
                #{list items:fitnessGoals, as:'goal'}
                    ${goal.name}${goal_isLast ? '' : ',' }
                #{/list}
            </td>
        </tr>
        <tr>
            <td class="profile_description" colspan="2">
            #{if user.bio}${user.bio}#{/if}#{else}<span class="error">(Edit bio)</span><a style="font-size:12px" class="submit" href="@{Settings.editProfile()}">[Edit]</a>#{/else}
            </td>
        </tr>
        <tr>
            <td>
              <p>10/10 Rating</p>
            </td>
        </tr>
    </table>-->
    </div>
    <div class="clear"></div>

<div class="clear"></div>
