<div style="display:none">
    <div id="dialog2" title="Loading">Loading</div>
    <div id="dialog3" title="Loading">Loading</div>
    <div id="loadingScreen"></div>
</div>

<div class="ui-corner-all blog_comments_background">
#{if _blogs.size()}
    #{list items:_blogs, as:'blog'}
        <div class="newsComments" shareid="${blog.id}" id="newsComments${blog.id}">
            <div id="profile_thumb_container">
                <div class="newsCommentThumb">
                    <img id="profile_thumb" class="picture_formating"  style="float:none;" src="${_user.getProfileThumbPic()}">
                    <div class='commentDate shareCommentDate'>
                        ${new Date(blog.creationDate.getTime()).since()}
                    </div>
                </div>
                <div class="newsCommentContainer">
                    <h2>${_user?.fullName()}</h2>
                    <p  style="float:none;">${blog.content}</p>
                    <span id="commentContainer${blog.id}">
                        #{if blog.getComments().size()}
                            #{if blog.getComments().size() >0}
                                <div class="picture_lists viewAllComments" shareid="${blog.id}">
                                    <div class="messageIcon"></div> <a>View all ${blog.getComments().size()}</a>
                                </div>
                            #{/if}
                            #{list items:blog.getComments(), as:'comment'}
                            <div class="${comment_index>0 ? 'hide' : ''} picture_lists share_comment_list" id='comment${comment.id}' commentid='${comment.id}'>
                                <img class='commentThumbPic' src="${comment.author.getProfileThumbPic()}" width='32' height='32'>
                                <div class='commentRightText'>
                                    <span class='redText' style='margin-right:5px'>
                                        ${comment.author.fullName()}
                                    </span>
                                    ${comment.content}
                                    <div id="deleteComment${comment.id}" class="deleteCommentDiv"><div class="deleteComment"></div></div>
                                    <div class='commentDate'>
                                        ${new Date(comment.creationDate.getTime()).since()}
                                    </div>
                                </div>
                                <div class='clear'></div>
                            </div>
                            #{/list}
                        #{/if}
                    </span>
                    <div id="newsCommentContainer${blog.id}" style="width:100%; padding-top: 3px;">
                        <p style="float:none;"><a class="shareCommentLink">Comment</a></p>
                        <div class="share_comments" id="share_comments${blog.id}">
                            <div>
                                <img width="32" height="32" class="picture_formating" src="${_user.getProfileThumbPic()}">
                            </div>
                            <div><input class="myPictureComment" id="myShareComment${blog.id}" type="text"></div>
                            <div>
                                <a class="Button shareCommentButton">Comment</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="deleteShareDiv" id="deleteShareDiv${blog.id}"><div class="deleteComment"></div></div>
            </div>
        </div>
    #{/list}
#{/if}
#{else}
    <p>You have not commented anything! Comment here to update your latest news!</p>
#{/else}
</div>

<script type="text/javascript">
$(function() {
    $('.Button').button();
});
$(document).ready(function() {
    resetPagination();
    initializeLoadingDialog();
    $('.deleteShareDiv').hide();

    $('.viewAllComments').click(function(){
        $("#commentContainer"+$(this).attr("shareid")).children(".hide").show("fast");
        $(this).remove();
    });
    $('.shareCommentButton').click(function(){
        waitingDialog({});
        var shareID = $(this).parent().parent().parent().parent().parent().parent().attr('shareID');
        $.post('@{FitnessBlogs.addComment()}',{blogID:shareID,content:$('#myShareComment'+shareID).val()},function(newShare){
            closeWaitingDialog();
            $('#commentContainer'+shareID).append("<div class='picture_lists share_comment_list' id='comment"+newShare.id+"' commentid='"+newShare.id+"'><img class='commentThumbPic' src='${_user.getProfileThumbPic()}' width='32' height='32'><div class='commentRightText'><span class='redText' style='margin-right:5px'>${_user.fullName()}</span>"+newShare.content+"<div id='deleteComment"+newShare.id+"' class='deleteCommentDiv'><div class='deleteComment'></div></div><div class='commentDate'>a few seconds ago</div></div><div class='clear'></div></div>");
            var id = newShare.id;
            $("#deleteComment"+id).click(function(){
                $('#comment'+id).remove();
                $.post('@{FitnessBlogs.deleteComment()}', {commentID: id}, function(deleteComment){
                    $('#comment'+id).remove();
                });
            });

            $('.picture_lists').hover(function(){
                $('#deleteComment'+$(this).attr('commentid')).show();
            },function(){
                $('.deleteCommentDiv').hide();
            });
            $('.myPictureComment').val("");
        },'json');
    });

    $('.shareCommentLink').click(function(){
        $(this).hide();
        $(this).parent().hide();
        id = $(this).parent().parent().parent().parent().parent().attr('shareID');
        $("#share_comments"+id).show("slow",function(){
            $("#myShareComment"+id).focus();
            $("#myShareComment"+id).keypress(function(e) {
                if(e.which == 13) {
                    $("#share_comments"+id+" > div > a.Button").click();
                }
            });
        });
    });

    $('.deleteCommentDiv').click(function(){
        //waitingDialog({});
        var id = $(this).parent().parent().attr('commentid');
        $(this).unbind();
        $('#comment'+id).remove();
        $.post('@{FitnessBlogs.deleteComment()}', {commentID: id}, function(deleteComment){
            $('#comment'+id).remove();
            //closeWaitingDialog();
        });
    });

    $('.picture_lists').hover(function(){
        $('#deleteComment'+$(this).attr('commentid')).show();
    },function(){
        $('.deleteCommentDiv').hide();
    });

    $('.deleteShareDiv').click(function(){
        waitingDialog({});
        var id = $(this).parent().parent().attr('shareid');
        $(this).unbind();
        $('#newsComments'+id).remove();
        $.post('@{FitnessBlogs.deleteBlog()}', {id: id}, function(data){
            $('#newsComments'+id).remove();
            closeWaitingDialog();
        });
    });

    $('.newsComments').hover(function(){
        $('#deleteShareDiv'+$(this).attr('shareid')).show();
    },function(){
        $('.deleteShareDiv').hide();
    });
});
</script>