<div class="createEventDialog">
    <table>
        <tr>
            <h3 style="font-size:13px">Create New Event</h3>
        </tr>
        <tr>
            <td>When:</td>
            <td>
                <span class="date"></span>
                From
                <input id="DateFrom" type="text" class="text clearOnClick" value="1:00 pm" maxlength="8" />
                To
                <input id="DateTo" type="text" class="text clearOnClick" value="2:00 pm" maxlength="8"/>


            </td>
        </tr>
        <tr>
            <td>What:</td>
            <td><input id="whatInput" type="text" class="text clearOnClick" size="25" value="e.g., Workout with John" /></td>
        </tr>
    </table>
</div>