<ul class="display_pictures">
    #{list items:_albums.pictures, as:'picture'}
        <li>
            <a class="photoIframe fancybox" href="#comment_pic${picture.id}" pictureid="${picture.id}" rel="gallery" >
                <img src="https://s3.amazonaws.com/globafitnessphotos/${picture.amazonThumbnailKey}" alt="${picture?.title}" />
            </a>
            <div style="display: none;" class="thisIframe">
                <div id="comment_pic${picture.id}" class="photoDisplayDiv" picwidth="${picture?.width}" style="width:auto;height:auto;overflow: auto;display:inline-block; padding-right:5px;">
                    <img style="display:inline-block; float:none;" width="${picture?.width}" height="${picture?.height}" class="main_pic" src="https://s3.amazonaws.com/globafitnessphotos/${picture.getAmazonKey()}" alt="${picture?.title}">
                    <div style=" display:inline-block; float:none; vertical-align: top; width:300px /*width:29%*/">
                        <div id="profile_thumb_container">
                            <div id="picture_title">
                                <h2>${picture?.title}</h2>
                            </div>
                            <img id="profile_thumb" class="picture_formating" src="${picture.album.author.getProfileThumbPic()}">
                            <h2>${_user?.fullName()}</h2>
                            <p>${picture?.content}</p>
                        </div>
                        <div class="clear"></div>
                        <div id="picture_list_comments${picture.id}" class="picture_list_comment_scoll">
                            #{if picture.getComments().size()}
                            #{/if}
                            #{list items:picture.getComments(), as:'comment'}
                            <div class='picture_lists' id='comment${comment.id}' commentid='${comment.id}'>
                                <img class='commentThumbPic' src="${comment.author.getProfileThumbPic()}" width='32' height='32'>
                                <div class='commentRightText'>
                                        <span class='redText' style='margin-right:5px'>
                                            ${comment.author.fullName()}
                                        </span>
                                    ${comment.content}
                                    <div id="deleteComment${comment.id}" class="deleteCommentDiv"><div class="deleteComment"></div></div>
                                    <div class='commentDate'>
                                        ${new Date(comment.postedAt.getTime()).since()}
                                    </div>
                                </div>
                                <div class='clear'></div>
                            </div>
                            #{/list}
                        </div>
                        <div style="padding-top: 3px;">
                            <a class="shareCommentLink" pictureid="${picture.id}">Comment</a>
                            <div class="share_comments" id="pictureComment${picture.id}">
                                <div>
                                    <img width="32" height="32" class="picture_formating" src="${_user.getProfileThumbPic()}">
                                </div>
                                <div><input class="myPictureComment" id="myPictureComment${picture.id}" style="width:170px" type="text"></div>
                                <div>
                                    <a class="Button shareCommentButton btn_comment" id="${picture.id}">Comment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    #{/list}
</ul>

<script type="text/javascript">
    $(function() {
        $('.Button').button();
    });

    $('.fancybox').fancybox({
        afterShow: function() {
            pictureID = this.href.replace("#comment_pic","");
            var width = $(".fancybox-inner").width();
            var height= $(".fancybox-inner").height();

            var picheight = $("#comment_pic"+pictureID+" > img").attr("height");
            var picwidth = $("#comment_pic"+pictureID+" > img").attr("width");

            if(picheight>height){
                $("#comment_pic"+pictureID+" > img").attr("height",(picheight-(picheight-height)-15));
                $("#comment_pic"+pictureID+" > img").attr("width",(picwidth-(picheight-height)-15));
             }
        }
    });

    $('.deleteCommentDiv').click(function(){
        var id = $(this).parent().parent().attr('commentid');
        $(this).unbind();
        $('#comment'+id).remove();
        $.post('@{Photos.deleteComment()}', {commentID: id}, function(deleteComment){
            $('#comment'+id).remove();
        });
    });

    $('.shareCommentLink').click(function(){
        var id = $(this).attr("pictureid");
        $(this).remove();
        $('.myPictureComment').val("");
        $("#pictureComment"+id).show("fast",function(){$('.myPictureComment').focus();});
    });

    $('.btn_comment').click(function(){
        var id = $(this).attr('id');
        $.post('@{Photos.addComment()}',{pictureID: id, comment: $('#myPictureComment'+$(this).attr("id")).val()}, function(newComment){
            var src = "${_user.getProfileThumbPic()}";
            var userFullName = "${_user.fullName()}";
            $('#picture_list_comments'+id).append(
               "<div id='comment"+newComment.id+"' class='picture_lists' commentid='"+newComment.id+"'>"+
                    "<img class='commentThumbPic' src='"+src+"' width='32' height='32'>"+
                    "<div class='commentRightText'>"+
                        "<span class='redText' style='margin-right:5px'>"+userFullName+"</span>"
                        +newComment.content+
                        "<div id='deleteComment"+newComment.id+"' class='deleteCommentDiv'><div class='deleteComment'></div></div>"+
                        "<div class='commentDate'>a few seconds ago</div>"+
                    "</div>"+
                    "<div class='clear'></div>"+
                "</div>");
                $('.picture_lists').hover(function(){$('#deleteComment'+$(this).attr('commentid')).show();},function(){$('.deleteCommentDiv').hide();});
                $('#deleteComment'+newComment.id).click(function(){
                    var id = $(this).parent().parent().attr('commentid');
                    $.post('@{Photos.deleteComment()}', {commentID: id}, function(deleteComment){
                        $('#comment'+id).remove();
                    });
                });
        }, 'json');
    });

    $('.picture_lists').hover(function(){
        $('#deleteComment'+$(this).attr('commentid')).show();
    },function(){
        $('.deleteCommentDiv').hide();
    });
</script>