#{list items:_albums, as:'albums'}
<div class="post" style="border-bottom: 1px solid #D4D7D9;
    display: inline-block;
    height: 307px;
    margin: 0 9px 50px;
    padding: 0 0 15px;
    width: 46%;">
    <h2>${albums?.title}</h2>
    <div class="infobar">
        Date ${albums.creationDate.format("dd MMMM yyyy")}
        <!--<span>/</span>
        Fitness Goal
        <a href="#">Weight Training</a>-->
        <span>/</span>
        <a href="@{Photos.showAlbum(albums.id)}">${albums.getPictureCount() ?: 'no'} photo${albums.getPictureCount().pluralize()}</a>
        <span>/</span>
        <a href="@{Photos.showAlbum(albums.id)}">${albums.getCommentCount() ?: 'no'} comment${albums.getCommentCount().pluralize()}</a>
    </div>
    <a href="@{showAlbum(albums.id)}" title="${albums?.title}">
        <img src="${albums.getFirstPictureKeyThumb()}" alt="${albums?.title}" />
    </a>
    <div class="post_content">
        <p>${albums?.content}</p><p><a href="@{showAlbum(albums.id)}" class="btn">View Album</a></p>
    </div>
    <div>

    </div>
    <div class="clear"></div>
</div>
#{/list}
