*{ Display a post in one of these modes: 'full', 'home' or 'teaser' }*
 
<div class="post ${_as == 'teaser' ? 'teaser' : ''}">
    <h2>
        <a href="@{FitnessBlog.showPost(_post.id)}">${_post.title}</a>
    </h2>
    <div class="infobar">
    Date ${_post.postedAt.format("dd MMMM yyyy")}
    <span>/</span>
    By ${_post.author.fullName()}
    #{if _as != 'full'}
        <span class="post-comments">
            <span>/</span> ${_post.comments.size() ?: 'no'} comment${_post.comments.size().pluralize()}
        </span>
    #{/if}
    #{elseif _post.tags}
        <span class="post-tags">
            - Tagged
            #{list items:_post.tags, as:'tag'}
                <a href="@{FitnessBlog.listTagged(tag.name)}">${tag}</a>${tag_isLast ? '' : ', '}
            #{/list}
        </span>
    #{/elseif}
    <!--<span>/</span>
    Fitness Goal
    <a href="#">Weight Training</a>-->

</div>

    #{if _as != 'teaser'}
        <div class="post-content">
            <div class="about">Detail: </div>
            ${_post.content.nl2br()}
        </div>
    #{/if}
</div>
 
#{if _as == 'full'}
    <div class="comments">
        <h3>${_post.comments.size() ?: 'no'} comment${_post.comments.size().pluralize()}</h3>
        
        #{list items:_post.comments, as:'comment'}
            <div class="comment">
                <div class="comment-metadata">
                    <span class="comment-author">by ${comment.author},</span>
                    <span class="comment-date">${comment.postedAt.format('dd MMM yy')}</span>
                </div>
                <div class="comment-content">
                    <div class="about">Detail: </div>
                    ${comment.content.escape().nl2br()}
                </div>
            </div>
        #{/list}
        
    </div>
#{/if}
