<div class="editEventDialog">
    <table>
        <tr>
            <h3 style="font-size:13px">Delete Event</h3>
        </tr>
        <tr>
            <td>When:</td>
            <td>
                <span class="date"></span>
                <!--From
                <input id="timeFrom" type="text" class="text clearOnClick" value="1:00 pm" maxlength="8" />
                To
                <input id="timeTo" type="text" class="text clearOnClick" value="2:00 pm" maxlength="8"/>-->
            </td>
        </tr>
        <tr>
            <td>What:</td>
            <td id="eventTitle"></td>
        </tr>
    </table>
    <!--<a class="btn" id="button_save" style="margin: 0px; float: right; position: relative; bottom: 0px; font-size: 12px;">Add Event</a><a id="button_cancel" style="float: right; position:relative; bottom:0px;" class="submit2">Cancel</a>-->
</div>