#{if _shares.size()}
    #{list items:_shares, as:'share'}
        <div class="newsComments" shareid="${share.id}" id="newsComments${share.id}">
            <div id="profile_thumb_container">
                <div class="newsCommentThumb">
                    <img id="profile_thumb" class="picture_formating"  style="float:none;" src="${_user.getProfileThumbPic()}">
                    <div class='commentDate shareCommentDate'>
                        ${new Date(share.creationDate.getTime()).since()}
                    </div>
                </div>
                <div class="newsCommentContainer">
                    <h2>${_user?.fullName()}</h2>
                    #{if share.type==4}
                    <p style="float:none; margin-top:14px;">
                        <iframe class="fancyImage" style="float:none" width="560" height="315" src="${share.videoName}" frameborder="0" allowfullscreen></iframe>
                    </p>
                    #{/if}
                    #{if share.type==3}
                    <p style="float:none; margin-top:14px;">
                        <a class="fancybox" href="https://s3.amazonaws.com/globafitnessphotos/${share.getPhotoFromThumb()}">
                            <img class="fancyImage" style="float:none" src="https://s3.amazonaws.com/globafitnessphotos/${share.photo}"  alt="${share?.content}" />
                        </a>
                    </p>
                    <p  style="float:none;">${share.content}</p>
                    #{/if}
                    #{elseif share.type==2}
                        <p style="float:none; margin-top:14px;">
                            <a href="${share.link}" class="commonLink" target="_blank">${share.link}</a>
                        </p>
                        <p  style="float:none;">${share.content}</p>
                    #{/elseif}
                    #{else}
                            <p  style="float:none;">${share.content}</p>
                    #{/else}
                    <span id="commentContainer${share.id}">
                        #{if share.getComments().size()}
                            #{list items:share.getComments(), as:'comment'}
                            <div class='picture_lists share_comment_list' id='comment${comment.id}' commentid='${comment.id}'>
                                <img class='commentThumbPic' src="${comment.author.getProfileThumbPic()}" width='32' height='32'>
                                <div class='commentRightText'>
                                <span class='redText' style='margin-right:5px'>
                                    ${comment.author.fullName()}
                                </span>
                                    ${comment.content}
                                    <div id="deleteComment${comment.id}" class="deleteCommentDiv"><div class="deleteComment"></div></div>
                                    <div class='commentDate'>
                                        ${new Date(comment.creationDate.getTime()).since()}
                                    </div>
                                </div>
                                <div class='clear'></div>
                            </div>
                            #{/list}
                        #{/if}
                    </span>
                    <div id="newsCommentContainer${share.id}" style="width:100%">
                        <p style="float:none;"><a class="shareCommentLink">Comment</a></p>
                        <div class="share_comments" id="share_comments${share.id}">
                            <div>
                                <img width="32" height="32" class="picture_formating" src="${_user.getProfileThumbPic()}">
                            </div>
                            <div><input class="myPictureComment" id="myShareComment${share.id}" type="text"></div>
                            <div>
                                <a class="Button shareCommentButton">Comment</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="deleteShareDiv" id="deleteShareDiv${share.id}"><div class="deleteComment"></div></div>
            </div>
        </div>
    #{/list}
#{/if}
#{else}
    <p>You have not shared anything, please click share to update your latest news!</p>
#{/else}
