#{extends 'main.html' /}
#{set title:'Globa Fitness Photos' /}
#{set 'moreScripts'}
    <script type="text/javascript" src="@{'/public/javascripts/jquery.galleriffic.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/jquery.opacityrollover.js'}"></script>
#{/set}
#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/trainer.css'}" />
    <link rel="stylesheet" href="@{'/public/stylesheets/galleriffic-2.css'}" type="text/css" />
    <!--<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/fileuploader.css'}">-->
#{/set}
<div class="photo_gallery">
    <div class="profile_banner">
        <div class="profile_banner_col1">
            <div class="left_pad">
                <h1>Complete your Profile to maximize your trainer search</h1>
                <p>A professional profile is vital to finding a trainer to match your needs.  Once you have completed your profile, it will be much easier to match a trainer to your specific needs .</p>
            </div>
        </div>
        <div class="profile_banner_col2">
            <p class="pad_five">Complete your Profile to maximize your trainer finding opportunities</p>
        </div>
    </div>

    <h2 class="showAlbum">New Album ${currentAlbum?.title}</h2>
    <div style="float:left; margin-top:9px;"><a style="font-size:12px" class="submit2" href="@{Photos.index()}">Back to Albums</a></div>
    <div class="clear"></div>
    #{if flash.error}
    <div style="float:left; width:100%">
    <p class="fError">
        <strong>${flash.error}</strong>
    </p>
    </div>
    #{/if}
    #{if flash.success}
    <p class="fSuccess">
        <strong>${flash.success}</strong>
    </p>
    #{/if}

    #{ifErrors}
    <p class="error">
        ${errors[0]}
    </p>
    #{/ifErrors}
    <div class="addPhotoToAlbum" style="margin-top:0px">
        #{form @saveAlbumDetails(), enctype:'multipart/form-data'}
            <ol>
                #{field 'album_title'}
                <li style="display:inline-block">
                    <a class="btn" id="clickTitle">Add Title</a></li>
                <li style="display:inline-block">
                    <input id="name" type="text" style="width:190px" class="text" name="${field.name}" value="${album_title}" />
                </li>
                #{/field}
                #{field 'message'}
                <li>
                    <label for="name">Message:</label>
                    <textarea id="message" class="text" name="${field.name}">${message}</textarea>
                </li>
                <li style="margin-top:10px;">
                    <input type="submit" name="submit" value="Next" class="submit2">
                </li>
            </ol>
        #{/field}
    </div>
    <!--<div id="profile_save"><input id="addMoreFiles" name="submit" value="Add more files" class="submit2"></div>-->
    #{/form}
    <br>
    <div class="clear"></div>
</div>
<div class="clear"></div>
</div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        // hides the slickbox as soon as the DOM is ready
        $('#name').hide();
        $('#clickTitle').click(function(){
            $('#name').toggle('slow');
        });
    });
</script>