#{extends 'main.html' /}
#{set title:'Globa Fitness Photos' /}
#{set 'moreScripts'}

#{/set}
#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/trainer.css'}" />
    <!--<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/fileuploader.css'}">-->
#{/set}



<div class="photo_gallery">
    <div class="profile_banner">
        <div class="profile_banner_col1">
            <div class="left_pad">
                <h1>Complete your Profile to maximize your trainer search</h1>
                <p>A professional profile is vital to finding a trainer to match your needs.  Once you have completed your profile, it will be much easier to match a trainer to your specific needs .</p>
            </div>
        </div>
        <div class="profile_banner_col2">
            <p class="pad_five">Complete your Profile to maximize your trainer finding opportunities</p>
        </div>
    </div>

    <div><h2 class="showAlbum">${currentAlbum?.title}</h2></div>
    <div class="backToAlbums"><a style="font-size:12px" class="submit2" href="@{Photos.index()}">Back to Albums</a></div>
    <div class="deleteAlbum">
        <a class="submit2" href="@{Photos.deleteAlbum(currentAlbum.id)}">Delete Album</a>
    </div>
    <div class="clear"></div>
    <div class="infobar">
        Upload your photos here
        <div style="float:right">Date ${currentAlbum.creationDate.format("dd MMMM yyyy")}</div>
    </div>
    <div class="clear"></div>
    #{if flash.error}
    <div style="float:left; width:100%">
    <p class="fError">
        <strong>${flash.error}</strong>
    </p>
    </div>
    #{/if}
    #{if flash.success}
    <p class="fSuccess">
        <strong>${flash.success}</strong>
    </p>
    #{/if}

    <p style="display:none" class="error">
    </p>

    <div class="addPhotoToAlbum">
        #{form @uploadPhotoToAlbum(),id:"jsonForm", enctype:"multipart/form-data"}
            <ol>
                #{field 'album_title'}
                <li>
                    <label>Title:</label>
                    <input id="photo_title" type="text" class="text" name="${field.name}" value="${photo_title}" />
                </li>
                #{/field}
                #{field 'message'}
                <li>
                    <label>Message:</label>
                    <textarea title="loading" style="height:68px" id="message" class="text" name="${field.name}">${message}</textarea>
                </li>
                #{/field}
                <li>
                    <label>Upload Photo:</label>
                    <input type="file" name="photo" id="photo" />
                    <input type="hidden" name="albumID" value="${currentAlbum?.id}" />
                </li>
                <li style="margin-top:10px;" id="removeUpload">
                    <input  id="upload" type="submit"  name="submit" value="Upload" class="submit2">
                </li>
                <!--<div id="file-uploader">
                    <noscript>
                        <p>Please enable JavaScript to use file uploader.</p>
                    </noscript>

                    <script>
                        /*function createUploader(){
                            var uploader = new qq.FileUploader({
                                element: document.getElementById('file-uploader'),
                                action: '/upload',
                                debug: true,
                                params: {
                                    albumID: '${currentAlbum?.id}'
                                },
                                onComplete: function(){



                                    $.get(displayUserDetail, function(data){
                                        alert('');
                                    });*/
                                }
                            });
                        }

                        // in your app create uploader as soon as the DOM is ready
                        // don't wait for the window to load
                        window.onload = createUploader;
                    </script>
                </div>-->
            </ol>
        #{/form}
    </div>
    <!--<div id="profile_save"><input id="addMoreFiles" name="submit" value="Add more files" class="submit2"></div>-->

    <br>

    <div id="showPicturesInCurrentAlbum">
    #{if currentAlbum?.pictures?.size()}
        #{display_pictures albums:currentAlbum, user:user /}
    #{/if}
    #{else}
    <div style="margin-top:10px"><p>You have not uploaded any pictures yet</p></div>
    #{/else}
    </div>
    <div class="clear"></div>
    <a class="fancybox" href="#displayError" id="clickOnDisplayError">

    </a>
    <div style="display: none; height:95px;">
        <div id="displayError">

        </div>
    </div>
</div>
<div class="clear"></div>
</div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
    $("#clickOnDisplayError").fancybox({
    'hideOnOverlayClick':false,
    'hideOnContentClick':false
    });

    $('#upload').click(function(){
        $(this).hide();
        //$('jsonForm').submit();
        $('#removeUpload').append('<div class="loadingDivGifSmall"></div>');
    });

    $('.btn').click(function(){
        var id = $(this).attr('id');
        //$.fancybox.showLoading();
        $('#picture_list_comments'+id).show();
        $.post('@{Photos.addComment()}',{pictureID: id, comment: $('#myPictureComment'+$(this).attr("id")).val()}, function(newComment){
        var src = "${user.getProfileThumbPic()}";
        var userFullName = "${user.fullName()}";
        $('#picture_list_comments'+id).append(
        "<div id='comment"+newComment.id+"' class='picture_lists' commentid='"+newComment.id+"'>"+
        "<img class='commentThumbPic' src='"+src+"' width='32' height='32'>"+
        "<div class='commentRightText'>"+
            "<span class='redText' style='margin-right:5px'>"+userFullName+"</span>"
            +newComment.content+
            "<div id='deleteComment"+newComment.id+"' class='deleteCommentDiv'><div class='deleteComment'></div></div>"+
            "<div class='commentDate'>a few seconds ago</div>"+
            "</div>"+
        "<div class='clear'></div>"+
        "</div>");
        $('.picture_lists').hover(function(){$('#deleteComment'+$(this).attr('commentid')).show();},function(){$('.deleteCommentDiv').hide();});
        var objDiv = document.getElementById("picture_list_comments"+id);
        objDiv.scrollTop = objDiv.scrollHeight;
        $('#deleteComment'+newComment.id).click(function(){
            var id = $(this).parent().parent().attr('commentid');
            $.post('@{Photos.deleteComment()}', {commentID: id}, function(deleteComment){
                $('#comment'+id).remove();
            });
        });
        }, 'json');

    });

    $('.picture_lists').hover(function(){
    $('#deleteComment'+$(this).attr('commentid')).show();
    },function(){
    $('.deleteCommentDiv').hide();
    });

        $('.fancybox').fancybox();
        /*var mySRC = "";
        $("a.photoIframe").fancybox({
        'titlePosition' : 'inside',
        'transitionIn'  : 'elastic',
        'transitionOut' : 'elastic',
        'onComplete': function() {
        mySRC = $  ('#comment_pic iframe').attr('src');
        },
        'onClosed': function() {
        $('#comment_pic iframe').attr('src', mySRC);
        }
        });*/
    });
</script>

