#{extends 'main.html' /}
#{set title:'Profile' /}
#{set 'moreScripts'}
    <!--<script type="text/javascript" src="@{'/public/javascripts/jquery.galleriffic.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/jquery.opacityrollover.js'}"></script>
    <script src="@{'/public/javascripts/fileuploader.js'}" type="text/javascript"></script>-->
#{/set}
#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/trainer.css'}" />
    <link rel="stylesheet" href="@{'/public/stylesheets/galleriffic-2.css'}" type="text/css" />
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/fileuploader.css'}">
#{/set}
    <div class="photo_gallery">
        <div class="profile_banner">
            <div class="profile_banner_col1">
                <div class="left_pad">
                    <h1>Complete your Profile to maximize your trainer search</h1>
                    <p>A professional profile is vital to finding a trainer to match your needs.  Once you have completed your profile, it will be much easier to match a trainer to your specific needs .</p>
                </div>
            </div>	
            <div class="profile_banner_col2">
                <p class="pad_five">Complete your Profile to maximize your trainer finding opportunities</p>
            </div>
        </div>
        <h2 style="margin-bottom:27px; margin-left:0px;">Add Album</h2>
        #{flash /}
        <!---Javascript goes here--->
        <div class="clear"></div>
        </div>  
        <div class="clear"></div>
    </div>	
</div>