#{extends 'main.html' /}
#{set title:'Profile' /}
#{set 'moreScripts'}
    <script type="text/javascript" src="@{'/public/javascripts/jquery.galleriffic.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/jquery.opacityrollover.js'}"></script>
#{/set}
#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/trainer.css'}" />
#{/set}

<!--<h2 style="margin-bottom:27px; margin-left:0px; padding-left:20px;">My Albums</h2>-->
<div class="profile_banner">
    <div class="profile_banner_col1">
        <div class="left_pad">
            <h1>Complete your Profile to maximize your trainer search</h1>
            <p>A professional profile is vital to finding a trainer to match your needs.  Once you have completed your profile, it will be much easier to match a trainer to your specific needs .</p>
        </div>
    </div>
    <div class="profile_banner_col2">
        <p class="pad_five">Complete your Profile to maximize your trainer finding opportunities</p>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="sidebar">
    <h3>Photos</h3>
    <ul class="sb_menu">
        <li><a href="@{Photos.index()}">My Albums</a></li>
        <li><a href="@{Photos.addAlbum()}">Add New Album</a></li>
        <!--<li><a href="#">Search Photos</a></li>-->
        <li class="last"><a href="@{Photos.manage()}">Manage Photos</a></li>
    </ul>
    <h3>Friends</h3>
    <ul class="sb_menu">
        <li><a href="#">Find friends</a></li>
        <li><a href="#">See current friends</a></li>
        <li><a href="#">Manage friends</a></li>
        <li class="last"><a href="#">Create Network</a></li>
    </ul>
</div>
<div class="content">
    #{flash /}
    <!--<div id="profile_edit" style="float:left"><a style="font-size:12px" class="submit2" href="@{Photos.addAlbum()}">New Album</a></div>-->
    <div class="clear"></div>
    #{if myAlbumList}

        #{display_albums_manage albums:myAlbumList, user:user /}
    #{/if}
    #{else}
        <div style="margin-top:10px"><p>You have no Albums</p></div>
    #{/else}
    <div class="clear"></div>
</div>
</div>
<div class="clear"></div>
</div>

<script type="text/javascript">
    $('.fancybox').fancybox({autoSize:true});
    $(".fancybox2")
        .fancybox({
            beforeLoad: function() {
            $.fancybox.showLoading();
        },
        beforeLoad: function() {
            saveFieldAs($(this).attr('href'),'@{Photos.savAlbumTitle()}',$(this).attr('href')+"Response");
        }
    });


</script>