#{extends 'main.html' /}
#{set title:'Photos' /}
#{set 'moreScripts'}

#{/set}
#{set 'moreStyles'}

#{/set}
    <div class="photo_gallery">
        <div class="profile_banner">
            <div class="profile_banner_col1">
                <div class="left_pad">
                    <h1>Complete your Profile to maximize your trainer search</h1>
                    <p>A professional profile is vital to finding a trainer to match your needs.  Once you have completed your profile, it will be much easier to match a trainer to your specific needs .</p>
                </div>
            </div>	
            <div class="profile_banner_col2">
                <p class="pad_five">Complete your Profile to maximize your trainer finding opportunities</p>
            </div>
        </div>
        <h2 class="showAlbum">${currentAlbum?.title}</h2>
        <div class="backToAlbums"><a style="font-size:12px" class="submit2" href="@{Photos.index()}">Back to Albums</a></div>
        <div class="deleteAlbum">
               <a class="submit2" href="@{Photos.deleteAlbum(currentAlbum.id)}">Delete Album</a>
        </div>
        <div class="clear"></div>
        <div class="infobar">
            Date ${currentAlbum.creationDate.format("dd MMMM yyyy")}
            <!--<span>/</span>
            Fitness Goal
            <a href="#">Weight Training</a>-->
            <span>/</span>
            <a href="@{Photos.showAlbum(currentAlbum.id)}">${currentAlbum.getPictureCount() ?: 'no'} photo${currentAlbum.getPictureCount().pluralize()}</a>
            <span>/</span>
            <a href="@{Photos.showAlbum(currentAlbum.id)}">${currentAlbum.getCommentCount() ?: 'no'} comment${currentAlbum.getCommentCount().pluralize()}</a>
            <div style="float:right"><a href="@{AddAlbumPhotos(currentAlbum.id)}" style="color:#DA4348;">Add More Photos</a></div>
        </div>
        <div class="clear"></div>
        #{flash /}
        <div class="clear"></div>
        #{if currentAlbum?.pictures?.size()}
            #{display_pictures albums:currentAlbum, user:user/}
        #{/if}
        #{else}
            <div style="margin-top:10px"><p>You have no pictures in this Album.</p><a style="font-size:12px" class="submit2" href="@{Photos.addAlbumPhotos(currentAlbum.id)}">Add Photos</a></div>
        #{/else}
        <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>