#{extends 'main.html' /}
#{set title:'Profile' /}
#{set 'moreScripts'}

#{/set}
#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/trainer.css'}" />
#{/set}
    <div class="list">
        <div class="profile_banner">
            <div class="profile_banner_col1">
                <div class="left_pad">
                    <h1>Complete your Profile to maximize your trainer search</h1>
                    <p>A professional profile is vital to finding a trainer to match your needs.  Once you have completed your profile, it will be much easier to match a trainer to your specific needs .</p>
                </div>
            </div>	
            <div class="profile_banner_col2">
                <p class="pad_five">Complete your Profile to maximize your trainer finding opportunities</p>
            </div>
        </div>
        <div class="list_child" style="border:none;">
        	<div id="profile_pic"></div>
            <div id="profile_content" style="float:left">
            	#{form @saveProfile()}
                <table class="profile_table Trainer_specs">
                    <tr>
                        <td>First Name:</td>
                        #{field 'user.firstName'}
                        <td>
                            <input maxlength="40" type="text" class="inputcolor profile_name" name="${field.name}" value="${user?.firstName}"  /> &nbsp;
                        </td>
                        #{/field}
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        #{field 'user.lastName'}
                        <td>
                            <input maxlength="40" type="text" class="inputcolor profile_name" name="${field.name}" value="${user?.lastName}"  /> &nbsp;
                        </td>
                        #{/field}
                    </tr>
                    <tr>
                        <td>City:</td>
                        #{field 'user.city'}
                        <td><input maxlength="40" type="text" class="inputcolor profile_city" name="${field.name}" value="${user?.city}"  />#{/field}#{field 'user.state'} State: <input maxlength="40" type="text" class="inputcolor" id="state"name="${field.name}" value="${user?.state}"  />#{/field}</td>
                        
                    </tr>
                    <tr>
                        <td class="phone">Phone Number:</td>
                        #{field 'user.phoneNumber'}
                        <td><input maxlength="40" type="text" class="inputcolor profile_input" name="${field.name}" value="${user?.phoneNumber}"  /></td>
                        #{/field}
                    </tr>
                    <tr>
                        <td>Email:</td>
                        #{field 'user.email'}
                        <td><input maxlength="40" type="text" class="inputcolor profile_input" name="${field.name}" value="${user?.email}" /></td>
                        #{/field}
                    </tr>
                    <tr>
                        <td> Bio:</td>
                        <td class="bio" colspan="2">
                        #{field 'user.bio'}
                        <textarea id="name" class="text" name="${field.name}">${user?.bio}</textarea>
                        </td>
                        #{/field}   
                   </tr>
                    <tr> 
                        <td>
                          <p>10/10 Rating</p>
                        </td>
                    </tr>
                </table>
               
            </div>
            <div id="profile_save"><input type="submit" src="@{'/public/images/save.gif'}" value="Save" class="submit2"></div>
            <div class="clear"></div>
             #{/form}
        </div>  
        <div class="clear"></div>
    </div>	
</div>

<script type="text/javascript">

$('.pics').cycle('fade');
		
$('#rate_trainer').click(function(){
	$('#trainer_box_response').css("height","334px").toggle('fast');
});

$('#trainer_box_response').hide();
</script>