#{extends 'main.html' /}
#{set title:'Get Toned' /}
<div id="main_image_header" style="height:100%">
    <div id="schedule">
        <div class="clear"></div>
        <h2>High Intensity Interval Training</h2>
        <div id="schedule_left">
            <p style="width:275px;">High Intensity Interval Training</p>
        </div>
        <div id="schedule_right">
            <div class="pics2">
               <!-- <div id="slideshow1"></div>-->
                <div id="slideshow2"></div>
            </div>
            <div class="clear"></div>
            <div id="questionaire2">
            	<p>
                	Get Toned <a href="@{Trainers.index()}">Find a trainer now</a>, don't waste any time!
                </p>
            </div>	
        </div>
        </form>
        <div class="clear"></div>
    </div>
</div>	
</div>
<script type="text/javascript">
	$('.pics2').cycle('fade');
</script>