#{extends 'main.html' /}
#{set title:'Login' /}

<div id="contact_paragraph">
    <div class="clear"></div>
    <h2 style="margin-bottom:27px;">Login</h2>
    #{flash /}
    <div id="joinLeft">
        #{form @login(), id:'formLogin'}
            <ol>
                <li>
                    <label for="name">Email (required)</label>
                    <input id="email" type="text" class="text" name="email" size="19" value="${flash.email}" />
                </li>
                <li>
                    <label for="name">Password (required)</label>
                    <input class="pass" type="password" name="password" size="19" />
                </li>
                <li>
                	<p style="padding:10px 0 0 0; margin:0;">Forgot Password? <a href="@{resetPassword}">Reset your password here.</a></p>
                </li>	
                <li>
                    <input type="image" value="Account login" src="@{'/public/images/submit.gif'}" class="submit">
                </li>
                
            </ol>
        </div>
        #{/form}
	</div>
     <div class="clear"></div>
    
</div>