#{extends 'main.html' /}
#{set title:'Profile' /}
#{set 'moreScripts'}

#{/set}
#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/trainer.css'}" />
#{/set}
    <div class="list">
        <div class="profile_banner">
            <div class="profile_banner_col1">
                <div class="left_pad">
                    <h1>Complete your Profile to maximize your trainer search</h1>
                    <p>A professional profile is vital to finding a trainer to match your needs.  Once you have completed your profile, it will be much easier to match a trainer to your specific needs .</p>
                </div>
            </div>	
            <div class="profile_banner_col2">
                <p class="pad_five">Complete your Profile to maximize your trainer finding opportunities</p>
            </div>
        </div>
        <div class="list_child" style="border:none;">
        	<div id="profile_pic"></div>
            <div id="profile_content">
                <table class="profile_table Trainer_specs">
                        <tr>
                            <td colspan="2" style="padding-top:0px">
                                <h1>${user.fullName()} &nbsp;<a style="font-size:12px" class="submit2" href="@{editProfile()}">Edit</a></h1>
                            </td>
                        </tr>
                        <tr>
                            <td>Location:</td>
                            <td>#{if user.city}${user.city}#{/if}
                            	#{else}<span class="error">(City not defined)</span><a style="font-size:12px" class="submit" href="@{editProfile()}">[Edit]</a> #{/else}
                                #{if user.state}, ${user.state}#{/if}#{else}<span class="error">(State not defined)</span> <a style="font-size:12px" class="submit" href="@{editProfile()}">[Edit]</a> #{/else}
                            	</td>
                        </tr>
                        <tr>
                            <td class="phone">Phone Number:</td>
                            <td>#{if user.phoneNumber}${user.phoneNumber}#{/if} #{else}Not defined <a style="font-size:12px" class="submit" href="@{editProfile()}">[Edit]</a> #{/else}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>#{if user.email}${user.email}#{/if} #{else}Not defined <a style="font-size:12px" class="submit" href="@{editProfile()}">[Edit]</a> #{/else}</td>
                        </tr>
                        <tr>
                            <td>Credentials:</td>
                            <td>Not yet defined:</td>
                        </tr>
                        <tr>
                            <td class="profile_description" colspan="2">
                            My name is Mike and i am a personal trainer. My training programs accommodate a variety of fitness levels and helps to promote strength , balance, endurance, speed, flexibility and an overall wellness of the body and mind. I guarantee your training experience with me will provide you with incredible benefits, including... but not limited to: building motivation and creating accountability, building confidence, building a higher level of mental toughness....and many more.
                            </td>  
                        </tr>
                        <tr> 
                            <td>
                              <p>10/10 Rating</p>
                            </td>
                        </tr>
					</table>
                       <!-- <td>
                            <table class="Trainer_specialities">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Weight loss</li>
                                            <li>Functional training</li>
                                            <li>Body building</li>
                                            <li>General fitness</li>
                                            <li>Toned or Get Yoked</li>
                                        </ul>                                    
                                    </td>                                
                               </tr>
                            </table>
                        </td>
                        -->
            </div>
        </div>  
        <div class="clear"></div>
    </div>	
</div>

<script type="text/javascript">

$('.pics').cycle('fade');
		
$('#rate_trainer').click(function(){
	$('#trainer_box_response').css("height","334px").toggle('fast');
});

$('#trainer_box_response').hide();
</script>