#{extends 'main.html' /}
#{set title:'Profile' /}
#{set 'moreScripts'}

#{/set}
#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/trainer.css'}" />
#{/set}
    <div class="list">
        <div class="profile_banner">
            <div class="profile_banner_col1">
                <div class="left_pad">
                    <h1>Complete your Profile to maximize your trainer search</h1>
                    <p>A professional profile is vital to finding a trainer to match your needs.  Once you have completed your profile, it will be much easier to match a trainer to your specific needs .</p>
                </div>
            </div>	
            <div class="profile_banner_col2">
                <p class="pad_five">Complete your Profile to maximize your trainer finding opportunities</p>
            </div>
        </div>
        #{flash /}
        <div class="clear"></div>
    </div>	
</div>