#{extends 'main.html' /}
#{set title:'Reset Password' /}

<div id="contact_paragraph">
    <div class="clear"></div>
    <h2 style="margin-bottom:27px;">Reset Password</h2>
	#{if flash.error}
        <p class="fError">
            <strong>${flash.error}</strong>
        </p>
    #{/if}
	 #{ifErrors}
        <p class="error">
            ${errors[0]}
        </p>
    #{/ifErrors}
    #{if flash.success}
        <p class="fSuccess">
            <strong>${flash.success}</strong>
        </p>
    #{/if}
	#{else}
    <div id="joinLeft">
        #{form @resetPasswordFunction(), id:'formReset'}
            <ol>
                <li>
                    <label for="name">Email (required)</label>
                    <input id="email" type="text" class="text" name="email" value="${flash.email}" />
                </li>
                <li>
                    <label for="name">Zip (required)</label>
                    <input id="zip" class="text" type="text" name="zip" value="${flash.zip}" maxlength="6"/>
                </li>
                <li>
                    <input type="image" value="Account login" src="@{'/public/images/submit.gif'}" class="submit">
                </li>
                
            </ol>
        #{/form}
	</div>
    #{/else}
    <div class="clear"></div>
    </div>
</div>