<!DOCTYPE html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/globa.css'}">
        #{get 'moreStyles' /}
		<script type="text/javascript" src="@{'/public/javascripts/jquery-1.6.4.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/cycle.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/slideshow.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/dropdown.js'}"></script>
        <script src="@{'/public/javascripts/cufon/cufon-yui.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/cufon/Liberation_Sans_400.font.js'}" type="text/javascript"></script>
        <script type="text/javascript">
            Cufon.replace('h1'); 
            Cufon.replace('#login a', {
                hover: true
            });
            Cufon.replace('#login a', {
                hover: true
            });
            Cufon.replace('#logo a', {
                hover: true
            });
            Cufon.replace('#extra_buttons a', {
                hover: true
            });
        </script>
        <script src="@{'/public/javascripts/sessvars.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
	<div id="container">
    	<div id="top_bar">
            <div id="logo">
                <h1>
                    <a href="@{Application.index}">Globa Fitness Club</a>
                </h1>
                <small>
                    <a href="@{Application.index}">Learn, Share, Explore</a>
                </small>
            </div>
            <div id="top_bar_right">
            	<div id="extra_buttons">
                	<ul>
                        <li><a href="@{Trainers.register()}">Join Trainers Network</a></li>
                    </ul>
                </div>   
                <div id="login">         
            	#{if user?.id}
                    <a  href="@{Application.logout()}">Log Out</a>
                    #{if user?.isAdmin}
                    &nbsp;&nbsp;<a  href="http://www.globafitness.com/admin">Admin</a>
                    #{/if}
                #{/if}
                #{else}
                	 <a href="@{Application.register()}">Sign Up</a> &nbsp;&nbsp;&nbsp;&nbsp;<a  href="@{Application.login_page()}">Log In</a>
                #{/else}
                
                </div>
                <div id="search">
                
                    <form class="search_form" method="post" action="#" name="search_form">
                        <input class="search_input" name="search_input" type="text"  />
                        <input class="search_hourglass" id="search_hourglass" type="image" src="@{'/public/images/search_hourglass.gif'}" name="search_hourglass" />
                    </form>
                </div>
                 #{if user?.id}
                <div id="options" class="options_logged_in">
                    <a href="#" style="color:#FFF">Connected as ${user.email}</a>
                    |
                    <a href="@{Application.siteDown()}">Videos</a>
                    |
                    <a href="@{Application.siteDown()}">Calendar</a>
                    |
                    <a href="@{Application.settings()}">Settings</a>
                    |
                    <a href="@{Application.profile()}">Profile</a>
                    |
                    <a href="@{Application.index()}">Mail</a>
                    |
                    <a href="@{Photos.index()}">Photos</a>
                    |
                    <a href="@{Application.posts()}">Fitness Blog</a>
                    |
                    <a href="@{Application.donate()}">Donate</a>
                </div>
            #{/if}
            </div>
      	</div>
        <div class="clear"></div>
        <div class="white_background_wrapper">
            <div id="container_main">
                <div id="menu">
                    <ul class="dropdown">
                         <li id="myHome"><a href="@{Application.index()}" >home</a></li> <!-- id="active_link"-->
                         <li ><a href="index.html">Services</a>
                            <ul id="dropdown1">
                                 <li><a href="@{Application.privateTraining()}">Private Training</a></li>
                                 <li><a href="@{Application.partnerTraining()}">Partner Training</a></li>
                                 <li><a href="@{Application.groupTraining()}">Group Training</a></li>
                            </ul>
                        </li>
                        <li id="Trainers"><a href="@{Trainers.index()}">Trainers</a></li>
                        <li><a href="@{Application.weightLoss()}">Programs</a>
                            <ul id="dropdown2">
                                <li><a href="@{Application.weightLoss()}">Weight Loss</a></li>
                                <li><a href="@{Application.bodyBuilding()}">Body Building</a></li>
                                <li><a href="@{Application.functionalTraining()}">Functional Training</a></li>
                                <li><a href="@{Application.highIntensityIntervalTraining()}">High Intensity Interval Training</a></li>
                                <li><a href="@{Application.goalSpecificTraining()}">Goal Specific Training</a></li>
                                <li><a href="@{Application.postInjury()}">Post Injury Training</a></li>
                                <li><a href="@{Application.sportsConditioning()}">Sports Conditioning</a></li>
                                <li><a href="@{Application.personalizedNutritionPlan()}">Personalized Nutrition Plan</a></li>
                            </ul>
                        </li>
                        <li id="Consultation"><a href="@{Application.consultation}">Consultation</a></li>
                        <li><a href="@{Application.members()}" style="padding: 20px 20px 0;">Networking</a>
                            <ul id="dropdown3">
                                <li><a href="@{Application.members()}">Members</a></li>
                                <li><a href="@{Application.network()}">Network</a></li>
                            </ul>
                        </li>
                        <li id="Contact"><a href="@{Application.contact()}" style="padding: 20px 20px 0;">Contact Us</a></li>
                    </ul>
                    <div id="social">
                        <a href="http://www.facebook.com"><div id="facebook"></div></a>
                        <a href="http://www.twitter.com"><div id="twitter"></div></a>
                        <a href="http://www.youtube.com"><div id="youtube"></div></a>
                    </div>
                </div>
                <div class="clear"></div>       
                <div id="content">
                    #{doLayout /}  
                </div>
                <div class="footer_bg">
                    <div class="footer">
                        <div class="cols">
                            <div class="col_left">
                                <h3>Stay Active</h3>
                                <em>&nbsp;Keep fit, stay active</em>
                                <a href="#"><img height="69" width="69" src="@{'/public/images/other_images/fitness.jpg'}" /></a>
                                <a href="#"><img height="69" width="69" src="@{'/public/images/other_images/man.jpg'}" /></a>
                                <a href="#"><img height="69" width="69" src="@{'/public/images/other_images/race.jpg'}" /></a>
                                <a href="#"><img height="69" width="69" src="@{'/public/images/other_images/rugby.jpg'}" /></a>
                                <a href="#"><img height="69" width="69" src="@{'/public/images/other_images/running.jpg'}" /></a>
                                <a href="#"><img height="69" width="69" src="@{'/public/images/other_images/shoes.jpg'}" /></a>
                            </div>
                            <div class="col_center">
                                <h3>Fitness</h3>
                                <em>Take Control</em>
                                <p>Take control of your health now before it takes control of your life.
        Globa unlocks the secrets to your fitness needs.</p>
                                <ul>
                                    <li>
                                        <a href="#">Hard Work</a>
                                    </li>
                                    <li>
                                        <a href="#">Motivation</a>
                                    </li>
                                    <li>
                                        <a href="#">Result</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col_right">
                                <h3>Socialize</h3>
                                <em>Get Connected</em>
                                <ul>
                                    <li>
                                        <a href="#">Share</a>
                                    </li>
                                    <li>
                                        <a href="#">Connect</a>
                                    </li>
                                    <li>
                                        <a href="#">Stay Live</a>
                                    </li>
                                    <li>
                                        <iframe src="https://www.facebook.com/plugins/like.php?href=www.globafitness.com"
                        scrolling="no" frameborder="0"
                        style="border:none; color:#999999; width:450px; height:80px"></iframe>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                        <div class="footer_bottom">
                            <div class="copy">&copy; Copyright <a href="#">Globa Fitness</a></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
    </div>
    <script type="text/javascript">	Cufon.now(); </script>
</body>
</html>
<script type="text/javascript">
	$("#splash").click(function(){
		window.location.replace("@{Trainers.index()}");
	});
	
	$("#splash2").click(function(){
		window.location.replace("@{Application.consultation()}");
	});
	
	$("#splash3").click(function(){
		window.location.replace("@{Application.members()}");
	});
	
	$("#splash4").click(function(){
		window.location.replace("@{Trainers.index()}");
	});
	
	var setActiveLink = "";
	switch("#{get 'title' /}"){
		case 'Home': 
			setActiveLink = "myHome";
			$('#'+setActiveLink).addClass("active_link");
			break;
		default:
			setActiveLink = "#{get 'title' /}";
			$('#'+setActiveLink).addClass("active_link2");
			break;
	}
	$('#'+setActiveLink+' a').css("color",'#FFF');
	
	$('#dropdown1 li, #dropdown2 li, #dropdown3 li').click(function(){
		//alert($(this).contents().text().trim());
		switch($(this).contents().text().trim()){
			case 'Private Training':
				relocate_page = "@{Application.privateTraining()}";				
				break;
			case 'Partner Training':
				relocate_page = "@{Application.partnerTraining()}";
				break;
			case 'Group Training':
				relocate_page = "@{Application.groupTraining()}";
				break;
			case 'Weight Loss':
				relocate_page = "@{Application.weightLoss()}";
				break;
			case 'Body Building':
				relocate_page = "@{Application.bodyBuilding()}";
				break;
			case 'Functional Training':
				relocate_page = "@{Application.functionalTraining()}";
				break;
			case 'High Intensity Interval Training':
				relocate_page = "@{Application.highIntensityIntervalTraining()}";
				break;
			case 'Goal Specific Training':
				relocate_page = "@{Application.goalSpecificTraining()}";
				break;
			case 'Post Injury Training':
				relocate_page = "@{Application.postInjury()}";
				break;
			case 'Sports Conditioning':
				relocate_page = "@{Application.sportsConditioning()}";
				break;
			case 'Members':
				relocate_page = "@{Application.members()}";
				break;
			case 'Network':
				relocate_page = "@{Application.Network()}";
				break;
            case 'Personalized Nutrition Plan':
                relocate_page = "@{Application.personalizedNutritionPlan()}";
                break;
			default:
				relocate_page = "@{Application.index()}";
				break;				
		}
		window.location.replace(relocate_page); //+$(this).contents().attr('href')+
	});
</script>



  
