<div class="createEventDialog" style="width:340px">
    <table>
        <tr>
            <h3 style="font-size:13px">Edit Event</h3>
        </tr>
        <tr>
            <td>When:</td>
            <td><span class="date"></span></td>
            <td>

                From <span class="timeFrom"></span> To <span class="timeTo"></span>

            </td>
        </tr>
        <tr colspan="2">
            <td>What:</td>
            <td colspan="2">${event.what}</td>
        </tr>
    </table>
    <!--<a class="btn" id="button_save" style="margin: 0px; float: right; position: relative; bottom: 0px; font-size: 12px;">Add Event</a><a id="button_cancel" style="float: right; position:relative; bottom:0px;" class="submit2">Cancel</a>-->
</div>
