#{extends 'main.html' /}
#{set title:'Profile' /}

#{set 'moreScripts'}
<!---CalendarEvent Plugin------------------>
    <script type='text/javascript' src="@{'/public/javascripts/fullcalendar/jquery-ui-1.8.17.custom.min.js'}"></script>
    <script type='text/javascript' src="@{'/public/javascripts/fullcalendar/fullcalendar.min.js'}"></script>
#{/set}
#{set 'moreStyles'}
    <link rel='stylesheet' type='text/css' href="@{'/public/javascripts/fullcalendar/cupertino/theme.css'}" />
    <link rel='stylesheet' type='text/css' href="@{'/public/javascripts/fullcalendar/fullcalendar.css'}" />
    <link rel='stylesheet' type='text/css' href="@{'/public/javascripts/fullcalendar/fullcalendar.print.css'}" media='print' />
#{/set}
<div id="profile_div">  <!--width="275" height="275"-->
    <img id="profile_pic" src="${user.getProfilePic()}" alt="Can't find user profile pic" />
    <table class="profile_table">
        <tr>
            <td colspan="2" style="padding-top:0px">
                <h1 style="	font-size: 25px; display:inline-block;">${user.fullName()} &nbsp;</h1>  <a style="font-size:12px; display:inline-block;" class="submit2" href="@{Settings.editProfile()}">Edit</a>
            </td>
        </tr>
        <tr>
            <td>Location:</td>
            <td>#{if user.city}${user.city}#{/if}
                #{else}<span class="error">City</span><a style="font-size:12px" class="submit" href="@{Settings.editProfile()}">[Edit]</a> #{/else}
                #{if user.state}, ${user.state}#{/if}#{else}<span class="error">(Edit state)</span> <a style="font-size:12px" class="submit" href="@{Settings.editProfile()}">[Edit]</a> #{/else}
            </td>
        </tr>
        <tr>
            <td class="phone">Phone Number:</td>
            <td>#{if user.phoneNumber}${user.phoneNumber}#{/if} #{else}<span class="error">(Edit phone number)</span> <a style="font-size:12px" class="submit" href="@{Settings.editProfile()}">[Edit]</a> #{/else}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>#{if user.email}${user.email}#{/if} #{else}<span class="error">(Edit email)</span><a style="font-size:12px" class="submit" href="@{Settings.editProfile()}">[Edit]</a>#{/else}</td>
        </tr>
        <tr>
            <td>Relationship status:</td>
            <td>${user?.relationship}</td>
        </tr>
        <tr>
            <td>Fitness Goals:</td>
            <td>
                #{list items:fitnessGoals, as:'goal'}
                    ${goal.name}${goal_isLast ? '' : ',' }
                #{/list}
            </td>
        </tr>
        <tr>
            <td class="profile_description" colspan="2">
            #{if user.bio}${user.bio}#{/if}#{else}<span class="error">(Edit bio)</span><a style="font-size:12px" class="submit" href="@{Settings.editProfile()}">[Edit]</a>#{/else}
            </td>
        </tr>
        <tr>
            <td>
              <p>10/10 Rating</p>
            </td>
        </tr>
    </table>
    </div>
    <div id='calendar'></div>

    </div>
    <div id="createEvent" style="display:none">#{createEvent /}</div>
    <div id="editEvent" style="display:none">#{editEvent /}</div>
<div class="clear"></div>
<script type='text/javascript'>

$(document).ready(function() {

    var createEventHtml = $('#createEvent').html();
    $('#createEvent').remove();
    var editEventHtml = $('#editEvent').html();
    $('#editEvent').remove();

    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    /*alert(d);
    alert(m);
    alert(y);*/

    $('#calendar').fullCalendar({
        theme: true,
        weekMode: "variable",
        eventClick: function(calEvent, jsEvent, view) {

            /*alert('Event: ' + calEvent.title);
            alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
            alert('View: ' + view.name);*/

            var date = new Date(calEvent.start);

            $.fancybox(editEventHtml,
            {
                autoSize:true,
                beforeShow: function() {
                    //To be improved with startDate time and endDate times
                    editEvent(".editEventDialog",calEvent.id,calEvent.title,'@{Profile.editEvent()}',$.fullCalendar.formatDate(date,"yyyy-MM-dd"),$.fullCalendar.formatDate(date,"ddd, MMMM dd, "),'@{Profile.index()}');
                }
            });

            // change the border color just for fun
            $(this).css('border-color', 'red');

        },

    dayClick: function(date, allDay, jsEvent, view) {

        $.fancybox(createEventHtml,
        {
            autoSize:true,
            beforeShow: function() {
                createEvent(".createEventDialog",'@{Profile.createNewEvent()}',$.fullCalendar.formatDate(date,"yyyy-MM-dd"),$.fullCalendar.formatDate(date,"ddd, MMMM dd, "),'@{Profile.index()}');
            }
        });

        /*if (allDay) {
            alert('Clicked on the entire day: ' + date);
        }else{
            alert('Clicked on the slot: ' + date);
        }

        alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);

        alert('Current view: ' + view.name);
        */
        // change the day's background color just for fun
        $(this).css('background-color', 'red');
    },
    header: {
        left: 'today',
        center: 'title',
        right: 'prev,next'
        /*right: 'month,agendaWeek,agendaDay' */
    },
    /*editable: true,*/
    events: [
    #{list items:calendarList, as:'calendarEvent'}
        {
            title: '${calendarEvent.what}',
            start: "${calendarEvent.start}",
            id: "${calendarEvent.id}"
        }${calendarEvent_isLast ? '' : ',' }
    #{/list}
    /*{
    title: 'Long Event',
    start: new Date(y, m, d-5),
    end: new Date(y, m, d-2)
    },
    {
    id: 999,
    title: 'Repeating Event',
    start: new Date(y, m, d-3, 16, 0),
    allDay: false
    },
    {
    id: 999,
    title: 'Repeating Event',
    start: new Date(y, m, d+4, 16, 0),
    allDay: false
    },
    {
    title: 'Meeting',
    start: new Date(y, m, d, 10, 30),
    allDay: false
    },
    {
    title: 'Lunch',
    start: new Date(y, m, d, 12, 0),
    end: new Date(y, m, d, 14, 0),
    allDay: false
    },
    {
    title: 'Birthday Party',
    start: new Date(y, m, d+1, 19, 0),
    end: new Date(y, m, d+1, 22, 30),
    allDay: false
    },
    {
    title: 'Click for Google',
    start: new Date(y, m, 28),
    end: new Date(y, m, 29),
    url: 'http://google.com/'
    }*/
    ]
    });

    });

</script>