#{extends 'main.html' /}
#{set title:'Profile' /}

#{set 'moreScripts'}
<!---CalendarEvents Plugin------------------>

    <script type='text/javascript' src="@{'/public/javascripts/fullcalendar/fullcalendar.min.js'}"></script>
#{/set}
#{set 'moreStyles'}

    <link rel='stylesheet' type='text/css' href="@{'/public/javascripts/fullcalendar/fullcalendar.css'}" />
    <link rel='stylesheet' type='text/css' href="@{'/public/javascripts/fullcalendar/fullcalendar.print.css'}" media='print' />
#{/set}

   <!--width="275" height="275"-->
    <div class="profile_banner">
        <div class="profile_banner_col1">
            <div id="helper"></div>
            <div class="left_pad">
                <h1>Profile Help</h1>
                <p>Welcome to Your fitness profile, click on the calendar to schedule and event with a trainer. Then edit your profile and track your goals</p>
            </div>
        </div>
        <div class="profile_banner_col2">
            <p class="pad_five">Maximize your efforts by completing your profile</p>
        </div>
    </div>
    <div class="ui-widget-content" style="moz-border-radius: 15px; border-radius: 15px; float:left; width:100%;">
        <div class="profile_left_col_container">
            <div class="profile_left_col">
                <a class="fancybox" href="${user.getProfilePic()}">
                    <img src="${user.getProfilePic()}" alt="Can't find user profile pic" />
                </a>
                <div class="clear"></div>
                <a href="@{Settings.index()}" style="float:left; color:#E9545A; margin-left: 13px;">Change Profile Pic</a>
            </div>
        </div>
        <div class="profile_mid_col">
            <table class="profile_table">
            <tr>
                <td colspan="2" style="padding-top:0px">
                    <h1>${user.fullName()} &nbsp;</h1>  <a style="font-size:12px; display:inline-block;" class="submit2" href="@{Settings.editProfile()}">Edit</a>
                </td>
            </tr>

            <tr>
                <td class="tableSubject">Location:</td>
                <td>${user.city}
                    #{if user.state},${user.state}#{/if}&nbsp;
                </td>
            </tr>

            <tr>
                <td class="tableSubject">Phone Number:</td>
                <td>${user.phoneNumber}&nbsp;</td>
            </tr>
            <tr>
                <td class="tableSubject">Email:</td>
                <td>${user.email}&nbsp;</td>
            </tr>
            <tr>
                <td class="tableSubject">Relationship status:</td>
                <td>${user?.relationship}&nbsp;</td>
            </tr>
            <tr>
                <td class="tableSubject">Fitness Goals:</td>
                <td>
                    #{list items:fitnessGoals, as:'goal'}
                        ${goal.name}${goal_isLast ? '' : ',' }
                    #{/list} &nbsp;
                </td>
            </tr>
            <tr>
                <td class="tableSubject ">Bio:</td>
                <td class="profile_description" colspan="2">
                ${user.bio}&nbsp;
                </td>
            </tr>
        </table>
        </div>
        <div class="profileRating">
            <div class="feedbackRatingHeader">
                <h2>Feedback</h2>
                <div class="feedBackNumber">
                    <h1>3.7</h1>
                    <div id="progressbar">
                    </div>
                    <a href="#">(7 Reviews)</a>
                    <div class="clear"></div>
                    <!--<div id="themeSwitcher" class="ui-button ui-widget ui-state-default ui-corner-all">Change Theme!</div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="shareDiv">
        <div class="shareLinks"><span class="grey bold">Share:</span> <a id="shareLink" class="commonLink upShareLink">Link</a> | <a id="sharePhoto" class="commonLink upShareLink">Photo</a> | <a id="shareVideo" class="commonLink upShareLink">Video</a></div>
        <input class="shareInput" type="text" size="16" placeholder="I.e. Insanity workout 20 minutes!">
        <a id="shareButton" class="Button">Share</a>
    </div>
        <!--<div class="profile_table_border"></div>-->
        <div class="clear"></div>

    <div class="clear"></div>
    <div id="tabs">
    <div  class="profile_tabs">
        <ul>
            <li><a href="#tabs-1">News Feed</a></li>
            <li><a href="#tabs-3">Workout Buddies</a></li>
            <li><a href="#sharedVideos">My Trainers</a></li>
            <li><a href="#sharedPhotos">My Contacts</a></li>
        </ul>
        <div id="tabs-1">
            #{shareNews user:user, shares:shares /}
        </div>
        <div id="tabs-3">
            <p>You have no workout buddies yet, please add someone!</p>
            <p>This feature is comming soon to you!</p>
        </div>
        <div id="sharedVideos">
            <p>You have no workout buddies yet, please add someone!</p>
            <p>This feature is comming soon to you!</p>
        </div>
        <div id="sharedPhotos">
            <p>You have no workout buddies yet, please add someone!</p>
            <p>This feature is comming soon to you!</p>
        </div>
    </div>
    <div class="pagination">
        #{if total}
        #{list items:1..total, as:'i'}
        <ul>
            <li class="ui-widget">
                <a class="${i_isFirst ? 'Button' : '' }">${i}</a>
            </li>
        </ul>
        #{/list}
        #{/if}
    </div>
        </div>
    <div id="tabs2" class="profile_tabs">
        <ul>
            <li><a href="#tabs-2" id="calendarTab">Calendar</a></li>
        </ul>
        <div id="tabs-2">
        </div>
    </div>
    <div id="tabs3" class="profile_tabs">
        <ul>
            <li><a href="#Sponsors">Sponsors</a></li>
        </ul>
        <div id="Sponsors">
        </div>
    </div>

    <div class="clear"></div>

    </div>
    <div style="display:none">
        <div id="dialog2" title="Loading">Loading</div>
        <div id="dialog3" title="Loading">Loading</div>
        <div id="loadingScreen"></div>
    </div>

<script type='text/javascript'>
    $(function() {
        $("#progressbar").progressbar({
            value: 37
        });
        $( ".profile_tabs" ).tabs();

        $('.Button').button();
    });
    $('.deleteShareDiv').hide();

$(document).ready(function() {

    $(".pagination li").click(function(){
        var page = $(this).text().trim()*1;
        waitingDialog({});
        var showNextShare = #{jsAction @Profile.shareNews(':page') /}
        $('#tabs-1').load(showNextShare({page: page}),function(){
            window.location.hash="shareButton";
            $(".pagination li a").each(function(index){
                var text = $(this).text();
                $(this).parent().html("<a>"+text+"</a>");
            });
            $(".pagination li a").eq(page-1).addClass("Button");
            closeWaitingDialog();
            $('.Button').button();
        });
    });

    $('#tabs-2').load("@{Profile.calendar}");

    $('#calendarTab').click(function(){
        $(".fc-button-today").click();
    });

    initializeLoadingDialog();

     $('#shareButton').click(function(){
        waitingDialog({});
        $.post('@{Profile.share()}',{content:$('.shareInput').val()},function(newShare){
            $('#tabs-1').load("@{Profile.shareNews}",function(){
                closeWaitingDialog();
            });
        },'json');
    });

    $('#shareLink').click(function(){
        $("#dialog2").html('<p>Share a Link on your news page! For example type:<br /> http://www.mysite.com</p><p><table class="shareTables"><tr><td>Link:</td><td><input placeholder="http://www.mysite.com" class="shareInput" id="shareLinkInput" type="text" size="16" value=""></td></tr><tr><td>Message:</td><td><input class="shareInput" id="shareLinkInputContent" type="text" size="16" value="" placeholder="Your message here"></td></tr></table><p>');
        $("#dialog2").dialog({
            width: 400,
            height: 'auto',
            title: "Share Link",
            buttons: [
                {
                    text: "Cancel",
                    click: function() { $(this).dialog("close"); }
                },
                {
                    text: "Share",
                    click: function() {
                        $(this).dialog("close");
                        waitingDialog({});
                        $.post('@{Profile.shareLink()}',{link:$('#shareLinkInput').val(), message:$('#shareLinkInputContent').val()},function(newShare){
                            $('#tabs-1').load("@{Profile.shareNews}",function(){
                                closeWaitingDialog();
                            });
                        });
                    }
                }
            ],
            open: function(event, ui) { $('#shareLinkInput').focus(); },
            modal: true
        })
    });
    $('#sharePhoto').click(function(){
        waitingDialog({});
        $("#dialog2").load("@{sharePhotoDiv}", function(){
            closeWaitingDialog();
            $("#dialog2").dialog({
               width: 'auto',
               height: 500,
               title: "Share Photo",
               buttons: [
                    {
                        text: "Cancel",
                        click: function() { $(this).dialog("close"); }
                    }
               ],
               modal: true
            })
        });
    });
    $('#shareVideo').click(function(){
        var src = "@{'/public/images/youtube_help.jpg'}";
        $("#dialog2").html('<div style="display:inline-block; width:595px; margin: 0 auto;"><p>Share a Video on your news page from youtube! Simply click on the share button and copy and paste the link from the youtube video! Look at the example below.<br><br /><img src="'+src+'"></p><p><table class="shareTables"><tr><td>Link to this video:</td><td><input placeholder="http://youtu.be/1SEl5H8hwLw" class="shareInput" id="shareVideoInput" style="width:307px" type="text" size="16" value=""></td></tr><tr><td>Message:</td><td><input style="width:307px" class="shareInput" id="shareVideoInputContent" placeholder="Type your message here." type="text" size="16" value=""></td></tr></table><p></div>');
        $("#dialog2").dialog({
            width: 700,
            height: 'auto',
            title: "Share Link",
            buttons: [
                {
                    text: "Cancel",
                    click: function() { $(this).dialog("close"); }
                },
                {
                    text: "Share",
                    click: function() {
                        waitingDialog({});
                        $(this).dialog("close");
                        $.post('@{Profile.shareVideo()}',{video:$('#shareVideoInput').val(), message:$('#shareVideoInputContent').val()},function(newShare){
                            $('#tabs-1').load("@{Profile.shareNews}",function(){
                                closeWaitingDialog();
                            });
                        });
                    }
                }
            ],
            open: function(event, ui) { $('#shareLinkInput').focus(); },
            modal: true
        })
    });

    $(".fancybox").fancybox();




});

 // add themeswitcher
    /*$(function(){
        var ts = $('#themeSwitcher')
        .bind("click", function() {
            ts.text("Loading Themeswitcher...");
            $.getScript('http://ui.jquery.com/applications/themeroller/themeswitchertool/', function() {
                ts.removeClass("ui-button ui-widget ui-state-default ui-corner-all").text("").unbind("click").themeswitcher();
            });
        });
    });*/

</script>